body {
	background:#fff;
	padding:0;
	margin:0;
	font-weight: bold;
	overflow:hidden;
}
.container{
	position: absolute;
	width: 100%;
	height: 100px;
	overflow: hidden;
	display: none;
	top: 0;
	z-index: 9;
	background: rgba(200,200,200,0.9);
}
.button_wrap{
	width: 800px;
	position: absolute;
	right: 80px;
	top:20px;
	display: -webkit-box;
	display: box;
}
.button{
	-webkit-box-flex:1;
	box-flex:1;

	text-align: center;
	cursor: pointer;
	margin: 5px 10px;
	background-color: #acc;
	border-radius: 3px;
}
.button:hover{
	background-color: #bdd;
}
.container video, .container canvas{
	margin: 0;
	padding: 0;
	width:200px;
	height: 150px;
	display: block;
}
#canvas_image{
	display: none;
	position: absolute;
	left:10px;
	top:10px;
	opacity: 0.01;
}
video#e_video{
	opacity: 0.1;
}
canvas#e_canvas{
	opacity: 0.1;
	background-color: #ccc;
}
canvas#blend_canvas{
	background-color: #ccc;
}
.container .media{
	display: inline-block;
}
.particle{
	position: absolute;
	z-index: 9;
	width: 20px;
	height: 20px;
	top:50%;
	left:0;
	margin-left: -10px;
	background-color: #000;
}
.particle:after{
	position: absolute;
}
.content .atom{
	display: block;
	position: absolute;
	z-index: 9;
	width:5px;
	height: 5px;
	border-radius: 5px;
	background-color: #fff;
	-webkit-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	transition: all linear 0.5s;
}
.hand{
	position: absolute;
	z-index: 9;
	width: 46px;
	height: 46px;
	top:40%;
	left:0;
	text-align: center;
	margin-left: -23px;
	margin-top: -23px;
	background-color: transparent;
	-webkit-transition: all linear 0.5s;
	-o-transition: all linear 0.5s;
	transition: all linear 0.5s;
}
.hand img{
	display: inline-block;
	max-width: 100%;
	max-height: 100%;
	vertical-align: bottom;
}
.screen {
	height: 100%;
	width: 3px;
	background: #000;
	position: fixed;
	top: 0;
}
.screen:first-child {
	left: 25%;
}
.screen:nth-child(2) {
	left: 50%;
}
.screen:nth-child(3) {
	left: 75%;
}